
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* Navigation */
nav {
  background-color: #21243d;
  min-height: 60px;
}
nav i.fa-bars,
nav i.fa-search {
  color: #fff;
}
nav .nav-link {
  color: #fff;
}
.heropage {
  height: calc(100vh - 60px);
  background-image: url("./img/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero-wrapper {
  width: 100%;
  height: 100%;
  background-color: rgba(254, 168, 8, 0.2);
}
.hero-content {
  width: 100%;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.hero-content > h1 {
  color: #fff;
  font-size: 10vw;
}
.hero-content > p {
  width: 40vw;
  color: #fff;
}
button.btn-com {
  width: 250px;
  height: 60px;
  font-size: 28px;
  font-weight: 500;
  border-radius: 33px;
  background-color: #21243d;
  color: #fff;
  text-transform: capitalize;
}
/* Menu page */
.popular-menu {
  min-height: 100vh;
  background-color: #21243d;
  position: relative;
  overflow: hidden;
}
.popular-menu > .shapes {
  position: absolute;
}
.popular-menu > .shapes.s1 {
  top: -30px;
  right: -50px;
}
.popular-menu > .shapes.s2 {
  top: 50%;
  left: -6%;
}
.popular-menu > .shapes.s3 {
  top: 50%;
  right: -10px;
}
.popular-menu > .shapes.s4 {
  top: -60px;
  left: 20%;
  transform: rotate(90deg);
}
.popular-menu > .shapes.s5 {
  top: 15%;
  left: 5%;
}
.popular-menu > .shapes.s6 {
  bottom: 5%;
  right: 5%;
}
.main-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 24px;
}
.main-heading h1 {
  color: #fff;
  text-transform: capitalize;
}
.main-heading p {
  color: #fff;
  width: 30vw;
  text-align: center;
  font-weight: lighter;
}
.menus {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.menu-item {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.menu-item img {
  width: 25vh;
  height: 25vh;
  object-fit: cover;
  border-radius: 50%;
}
.menu-item p {
  text-align: center;
  width: 80%;
  font-weight: lighter;
}
/* One ITEM */
.one-item {
  position: relative;
  min-height: 100vh;
  width: inherit;
  background-color: #ffd17e;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.one-item > .shapes {
  position: absolute;
}
.one-item > .shapes.s1 {
  top: -30px;
  right: -50px;
}
.one-item > .shapes.s2 {
  top: 50%;
  left: -6%;
}
.one-item > .shapes.s3 {
  top: 50%;
  right: -10px;
}
.one-item > .shapes.s4 {
  top: -60px;
  left: 20%;
  transform: rotate(90deg);
}
.one-item > .shapes.s5 {
  top: 15%;
  left: 5%;
}
.one-item > .shapes.s6 {
  bottom: 5%;
  right: 5%;
}
.one-item .item-inner {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.item-inner .l-img {
  width: 50%;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
}
.item-inner .l-img img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
}
.item-inner .r-content {
  width: 50%;
}
.item-inner .r-content h2 {
  font-size: 5vw;
  text-transform: capitalize;
  color: #21243d;
}
.item-inner .r-content p {
  font-size: 1.2vw;
  font-weight: lighter;
  padding: 20px 0;
}
.menu-item-s {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border: 5px solid #fff;
  border-radius: 50%;
  color: #fff;
  text-transform: uppercase;
}
.menus > .menu-item-s {
  margin: 20px;
}
.first-item {
  flex-direction: row-reverse;
}
.user-review {
  width: 100%;
  background-image: url("./img/user.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.user-wrapper {
  height: 100%;
  width: 100%;
  background-color: #21243dee;
}
.user-r {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #fff;
}
.user-r img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
.user-r p {
  width: 80%;
  font-size: 22px;
  font-weight: lighter;
  text-align: center;
}
.user-r h4 {
  font-weight: bold;
}
.subs {
  width: 60%;
  display: flex;
  margin-top: 50px;
}
.subs input[type="text"] {
  border-radius: 20px;
  width: 100%;
  border: none;
  padding: 5px 20px;
}
.subs .sub-btn {
  margin-left: -30px;
  border-radius: 20px;
  padding: 0 20px;
  border: none;
  background-color: #21243d;
  color: #fff;
}
footer{
  background-color: #111111 !important;
  color: #fff;
}
/* Responsive */
@media screen and (max-width: 768px) {
  .hero-content {
    justify-content: start;
    align-items: center;
    padding: 20px;
    gap: 30px;
  }
  .hero-content > p {
    width: 100vw;
    text-align: center;
  }
  .heropage {
    background-position-x: center;
    /* transform: rotate(30deg); */
  }
  .main-heading p {
    width: 100vw;
  }
  .menus {
    flex-direction: column;
    align-items: center;
    gap: 50px;
  }
  .popular-menu > .shapes,
  .one-item > .shapes {
    width: 20vw;
    height: 10vh;
    object-fit: contain;
  }
  .one-item .item-inner {
    flex-direction: column;
    width: 100%;
  }
  .item-inner .r-content h2 {
    font-size: 8vh;
    text-align: center;
  }
  .item-inner .r-content p {
    font-size: 3vh;
    text-align: center;
  }
  .item-inner .l-img {
    width: 100%;
  }
  .item-inner .r-content {
    padding: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item-inner .l-img img {
    height: 200px;
    width: 200px;
  }
  .subs {
    width: 100%;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .subs .sub-btn {
    margin-top: 20px;
    padding: 5px 20px;
    margin-left: 0;
  }
  .sub-p {
    width: 100% !important;
  }
}
