* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    height: 100vh;

}

.add-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#task {
    padding: 5px 5px;
    font-size: 20px;
}
#task:focus{
    outline: none;
}

#addBtn {
    padding: 7px 10px;
    border: none;
    font-size: 20px;
    background-color: orangered;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    margin-left: 5px;
}

.showTask {
    display: flex;
    justify-content: center;
}

.showTask table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.showTask table tr td {
    padding: 5px 20px;
    font-size: 20px;
    color: blue;
    font-weight: bold;
    text-transform: capitalize;
}

.acbtn {
    border: none;
    color: white;
    background-color: green;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.acbtn-del {
    background-color: red;
}