* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

/* Navigation bar start */
/* .navigation{
    display: flex;
    justify-content: space-between;
} */
.navigation ul {
  list-style: none;
  display: flex;
  gap: 15px;
}
.navbar-brand {
  width: 120px;
  margin: 0;
  padding: 0;
  margin-right: 20px;
  font-size: 0;
}
.navbar-brand > img {
  width: 100%;
  padding: 5px 10px;
}
.nav-link {
  color: rgba(0, 0, 0) !important;
  padding: 0;
  font-size: 12px;
  padding: 2px;
}
.nav-link:hover {
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 5px;
}
.navbar-toggler {
  border: 0;
}
button.navbar-toggler:focus {
  box-shadow: none;
}
.navbar .d-all-microsoft {
  left: -60vw;
  width: 78vw;
  min-height: 70vh;
  background-color: #f2f2f2;
  border-bottom: 2px solid black;
  border-radius: 1px;
}
.navbar .d-all-products {
  left: -10vw;
  width: 70vw;
  min-height: 70vh;
  background-color: #f2f2f2;
  border-bottom: 2px solid black;
  border-radius: 1px;
}
.navbar .d-all-resource {
  left: 0;
  width: 15vw;
  background-color: #f2f2f2;
  border-bottom: 2px solid black;
  border-radius: 1px;
}
.d-all-resource li {
  position: relative;
}
.d-all-resource .sub-drop {
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 100%;
  top: 0;
  background-color: #e6e6e6;
  width: 15vw;
  display: none;
  border: 1px solid #f2f2f2;
  border-bottom: 2px solid black;
}
.d-all-resource .sub-drop > li {
  padding: 1rem;
}
.d-all-resource .sub-drop > li:hover {
  background-color: darkgrey !important;
}
.d-all-resource .sub-drop > li > a {
  font-size: 12px !important;
}
.d-all-resource {
  padding: 0;
}
.d-all-resource ul li:hover {
  background-color: #e6e6e6 !important;
}
.d-all-resource ul li:first-child a:hover {
  text-decoration: underline !important;
  text-underline-offset: 2px;
}
.d-all-resource ul li:first-child a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 11px;
  color: black;
  font-weight: 400 !important;
  opacity: 0.8 !important;
}
.d-all-resource ul li:hover .sub-drop {
  display: block;
}
.d-all-resource ul li {
  padding: 1rem;
}
.d-all-resource > div > ul {
  padding: 0;
  width: 100%;
}
.d-all-resource > div > ul > li {
  margin: 0 !important;
  width: 100%;
}
.d-all-resource .sub-drop > li > a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 12px;
  color: black;
  opacity: 0.8;
}
.d-all-resource .sub-drop li a:hover {
  text-decoration: underline !important;
  text-underline-offset: 2px;
}
.navbar .dropdown-menu > div {
  gap: 10px;
  flex-wrap: wrap;
}
.navbar .dropdown-menu > button {
  position: absolute;
  bottom: 0;
  padding: 5px 0;
  border: none;
  background-color: #e6e6e6;
  font-weight: 300;
}
.navbar .dropdown-menu > button > i {
  font-size: smaller;
}
.navbar .dropdown-menu > div > ul {
  list-style: none;
}
.navbar .dropdown-menu > div > ul > li {
  margin: 15px 0;
}
.navbar .dropdown-menu > div > ul > li:first-child a {
  color: black;
  opacity: 1;
  font-weight: 500;
}
.navbar .dropdown-menu > div > ul > li > a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 12px;
  color: black;
  opacity: 0.8;
}
.navbar .dropdown-menu > div > ul > li > a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
.navbar .dropdown-menu > div > ul > li > a:focus {
  border: 2px dotted black;
}
.navbar .dropdown-menu > div > ul > li:first-child a:hover {
  text-decoration: none;
}

/* Navigation bar end */

/* carousel start */
.carousel-controls {
  display: flex;
  gap: 10px;
  width: fit-content;
  margin: auto;
  padding: 10px;
}
.carousel-controls i {
  color: black;
  font-size: 1.25rem;
}
.carousel-controls button {
  height: 50px;
  width: 50px;
}
.carousel-control-nextt,
.carousel-control-previous {
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  text-align: center;
  background: 0 0;
  border: 0;
  opacity: 1;
}
.carousel-control-nextt:focus,
.carousel-control-previous:focus,
button#toggleCarousel:focus {
  border: 3px dotted black;
}
.carousel-control-nextt:hover i {
  transform: translateX(10px);
}
.carousel-control-previous:hover i {
  transform: translateX(-10px);
}
.carousel-indicators [data-bs-target] {
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  border: 1px solid black;
  opacity: 1;
}
.carousel-indicators .active {
  background: black;
}
.carousel-indicators {
  position: relative;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
  align-items: center;
}
button#toggleCarousel {
  background-color: transparent;
  border: none;
}

/* carousel-caption */
.carousel-caption h1 {
  color: black;
  /* font-size: 2.5vw; */
}
.carousel-caption p {
  color: black;
  margin-top: 10px;
}
.carousel-caption p {
  width: 40%;
}
.carousel-caption button,
.page3-content button,
.m-page-buttons button,
.m-page11-buttons button {
  border: none;
  background-color: #0067b8;
  color: #fff;
  padding: 10px 15px;
  border-radius: 2px;
  font-size: 18px;
  font-weight: 500;
  margin-top: 10px;
}
.carousel-caption {
  position: absolute;
  top: 20%;
  bottom: 48%;
  left: 10%;
  color: #fff;
  text-align: left;
}
/* carousel End */

/* main start  */

.page1 {
  display: flex;
  justify-content: space-around;
  padding: 10vh 12vw;
}
.page1 img {
  width: 50px;
}
.page1 a {
  font-size: 18px;
  margin-top: 10px;
}
.page2 {
  gap: 2%;
  width: 100%;
  position: relative;
}
.page2 .p-card {
  width: 30%;
}
.page2 .p-card .image-box {
  width: 100%;
}
.page2 .p-card .image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.page2 .p-card h2 {
  margin: 15px 0;
}
.page2 .p-card ul {
  list-style: none;
  padding: 0;
}
.page2 .p-card p {
  text-align: justify;
}
.page2 .p-card ul li {
  padding: 10px 0;
}
.page2 .p-card {
  text-align: left;
}
.page2 .p-card ul li a {
  text-decoration: none;
  font-weight: 500;
}
.page3 {
  /* width: 100%; */
  padding: 10vh 0;
  position: relative;
  /* background-image: url("./img/ai-open.jpg");
    background-repeat: no-repeat;
    background-size: contain; */
}
.page3 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.page3-content {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.res_ai {
  background-color: #fff;
  padding: 5vh 3vw;
  width: 40%;
  left: 25%;
}
.res_ai h2 {
  font-size: 2.3rem;
}
.res_ai button {
  font-size: 14px;
}

.page6 ul {
  justify-content: start;
  list-style: none;
  align-items: center;
  gap: 10px;
  padding: 0;
  padding-bottom: 5rem;
}
.page6 ul li img {
  height: 32px;
  width: 32px;
}
#main {
  position: relative;
}
#back-to-top {
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 4px;
  position: fixed;
  bottom: 2%;
  right: 2%;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}
/* Microsoft 365 pages */
.m-page1 {
  height: 80vh;
  position: relative;
}
.m-page1 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.m-page1-content {
  position: absolute;
  top: 20%;
  left: 60%;
  width: 33vw;
}
.m-page1-content h2 {
  width: 28vw;
}
.m-page-buttons button {
  width: 15vw;
}
.m-page2 {
  margin-top: 20vh;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.m-page2 .m-left {
  width: 50%;
  padding: 0 1rem;
  height: 100%;
  border-right: 1px solid grey;
}
.m-page2 .m-left img {
  height: 80%;
  width: 100%;
  object-fit: cover;
}
.m-right {
  width: 50%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
}
.m-right .m-right-inner {
  display: flex;
  gap: 5px;
}
.m-right .m-right-inner .m-right-content {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.m-right .m-right-inner .m-right-img {
  width: 50%;
}
.m-right .m-right-inner .m-right-img img {
  width: 100%;
  padding-left: 20px;
}
.m-right-button {
  display: flex;
  justify-content: space-between;
}
.m-right-button button {
  border: none;
  background: none;
  color: blue;
}
.m-right-button a {
  text-decoration: none;
}

/* m Page3 */
.m-page3 {
  margin-top: 100px;
  margin-bottom: 100px;
}

/* m page 4 */
.m-page4 {
  display: flex;
}
.m-page4 .m-page4-left {
  width: 30%;
}
.m-page4-left div.accordion-button {
  display: flex;
  gap: 1rem;
  border-radius: 0 !important;
}
.m-page4-left div.accordion-button img {
  height: 30px;
}
.m-page4-right {
  width: 70%;
}
.m-page4-right img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 0 2rem;
}
.m-page4 .accordion-item {
  border-radius: none;
  border: none;
  border-top: 1px solid rgba(128, 128, 128, 0.5);
}
.m-page5 .plans {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.m-page5 .plan {
  width: 32%;
}
.m-page5 .plan img {
  width: 100%;
  object-fit: cover;
}
.m-page5 .plan button.accordion-button {
  border: none;
  color: white;
  font-weight: 500;
  box-shadow: 0 0.375rem 0.875rem 0 rgba(0, 0, 0, 0.13),
    0 0.0625rem 0.25rem 0 rgba(0, 0, 0, 0.11) !important;
  text-align: center;
}
.m-page5 .plan .red-content button.accordion-button {
  background-color: #d83b01;
}
.m-page5 .plan .blue-content button.accordion-button {
  background-color: #0078d4;
}
.m-page5 .plan .voilet-content button.accordion-button {
  background-color: #7719aa;
}
.m-page5 .plan .red-content .accordion-item {
  background-color: #d83b01;
  color: white;
}
.m-page5 .plan .blue-content .accordion-item {
  background-color: #0078d4;
  color: white;
}
.m-page5 .plan .voilet-content .accordion-item {
  background-color: #7719aa;
  color: white;
}

.m-page5 .plan button.accordion-button:focus {
  box-shadow: none;
}
.plan-content {
  width: 90%;
  margin: auto;
  margin-top: -50px;
}
.plan-content .accordion-body {
  text-align: left;
}
.plan-footer {
  height: 250px;
}
.plan-footer ul {
  list-style: none;
}
.plan-footer ul > li {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  text-align: center;
  gap: 20px;
}
.plan-footer ul > li > button {
  width: 80%;
  margin: auto;
  border: none;
  padding: 6px;
  font-size: 18px;
  background-color: #fff;
}
.red-footer ul > li > button {
  color: #d83b01;
}
.blue-footer ul > li > button {
  color: #0078d4;
}
.voilet-footer ul > li > button {
  color: #7719aa;
}
.plan-footer ul > li > button:hover {
  background-color: #d2d2d2;
}
.plan-footer ul > li > a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}
/* microsoft page6 */
.m-page6 .card {
  border: none;
}
.m-page11 {
  height: 200px;
  width: 100%;
  background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Blade012_Area_Heading_1920x312_Desktop?scl=1");
  background-repeat: no-repeat;
  background-position: center;
}
/* Teams page1 */
#teams-main h6.top-header {
  padding: 20px 0;
  text-align: center;
  margin: auto;
  color: #fff;
  background-color: #5d5bd4;
}
.t-page1 .card ,.t-page2 .card {
  border: none;
}
.t-page1 .card video {
  height: 100%;
  width: 100%;
}

.t-page2-img-button{
  height: 220px;
  width: 200px;
  position: relative;
}
.t-page2-img-button img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.t-page2-img-button button{
  color: #fff;
  background-color: #5d5bd4;
  border: none;
  width: 130px;
  padding: 10px 0;
  position: absolute;
  bottom: 0;
  left: 0;
}
.t-page2-img-button button:hover{
  text-decoration: underline;
  text-underline-offset: 2px;
}
.t-page2-img-button button:hover i{
  transform: translateX(5px);
}
/* Teams page 3 */
.t-page3 .card{
  border: none;
}
.mcc-top {
  height: 80vh;
}
.mcc-top .card img{
  width: 100%;
  height: 130%;
  object-fit: cover;
}
.mcc-top .card .row{
  align-items: center;
}
.mcc-top .card ul{
  list-style: none;
  top: 40%;
  left: 10%;
  position: absolute;
}
.mcc-top .card ul li{
padding: 15px;
cursor: pointer;
color: #5d5bd4;
font-weight: 700;
}
.mcc-top .card ul li::before{
  content: " ";
  border: .2px solid lightgray;
  margin-right: 5px;
  transition: all .2s;
}
/* MEET */
.mcc-top .meet ul li:nth-child(1):before{
  border: 3.5px solid #5d5bd4;
}
.mcc-top .meet ul li:hover:not(:nth-child(1)):before{
  border: 3.5px solid lightgray;
}
/* call */
.mcc-top .call ul li:nth-child(2):before{
  border: 3.5px solid #5d5bd4;
}
.mcc-top .call ul li:hover:not(:nth-child(2)):before{
  border: 3.5px solid lightgray;
}
/* collaborate */
.mcc-top .collaborate ul li:nth-child(3):before{
  border: 3.5px solid #5d5bd4;
}
.mcc-top .collaborate ul li:hover:not(:nth-child(3)):before{
  border: 3.5px solid lightgray;
}
/* chat */
.mcc-top .chat ul li:nth-child(4):before{
  border: 3.5px solid #5d5bd4;
}
.mcc-top .chat ul li:hover:not(:nth-child(4)):before{
  border: 3.5px solid lightgray;
}


.mcc-bottom a{
  text-decoration: none;
  color: #5d5bd4;
  font-weight: 700;
  transition: all 10ms;
}
.mcc-bottom a:hover{
  text-decoration: underline;
}
.mcc-bottom a:hover i{
  transform: translateX(5px);
}
/* Teams page4 */
.t-page4{
  height: 140vh;
  background-image: url(https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Blade008_ContentCards2up_Background_1920x1200?scl=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.t-page4 .card {
  border: none;
  box-shadow: 0 0.1875rem 0.4375rem 0 rgba(0,0,0,.13), 0 0.0625rem 0.125rem 0 rgba(0,0,0,.11);
}
/* teams page 5 */
.t-page5{
  margin-top: 100px;
  height: 500px;
  background-color: #5d5bd4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-page5 .row>div{
  display: flex;
  align-items: center;
  justify-content: center;
}
.t-page5 .card{
  width: 80%;
  background-color: transparent;
  border: none;
  color: white;
}
.t-page5 .card ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.t-page5 .card ul li{
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.t-page5 .card ul li a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}
.t-page5 .card .icon-con img{
  width: 60px;
}
.t-page5-buttons{
  display: flex;
  gap: 30px;
}
.t-page5-buttons button{
  padding: 5px 15px;
  border: none;
  border-radius: 2px;
  font-weight: 600;
}
.t-page5-buttons button:first-child{
  background-color: #fff;
  color: #000;
}
.t-page5-buttons button:nth-child(2){
  border: 2px solid #fff;
  background-color: transparent;
  color: #fff;
}
/* main end */

/* footer section  start*/
.footer {
  background-color: #f2f2f2;
}
.footer-content-link {
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
}
.footer-content-link > ul {
  list-style: none;
}
.footer-content-link > ul > li {
  padding: 4px 0;
}
.footer-content-link > ul > li:first-child > a {
  color: black;
  font-weight: 600;
  font-size: 16px;
  opacity: 0.7;
}
.footer-content-link > ul > li > a {
  text-decoration: none;
  font-size: 11px;
  color: black;
  opacity: 0.8;
}
.footer-content-bottom {
  display: flex;
  justify-content: space-between;
}
.footer-content-bottom ul {
  list-style: none;
  display: flex;
}
.footer-left > ul > li > button > i {
  font-size: 20px;
  opacity: 0.7;
  margin-right: 5px;
}
.footer-right > ul {
  gap: 20px;
  padding-right: 5rem;
}
.footer-right > ul > li > a {
  text-decoration: none;
  font-size: 11px;
  color: black;
  opacity: 0.7;
  text-transform: capitalize;
}
.footer-right > ul > li > a:hover,
.footer-content-link > ul > li > a:hover {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
.footer-content-link > ul > li:first-child > a:hover {
  text-decoration: none;
}
.footer-right > ul > li:last-child > a:hover {
  text-decoration: none;
  cursor: default;
}
/* footer section end */

/* Responsive for tablet and small screen */
@media screen and (max-width: 768px) {
  /* Navigation */
  .nav-link {
    font-size: 20px;
    padding: 0.5rem 1rem !important;
  }
  /* carousel */
  .carousel-inner .carousel-caption {
    position: relative;
    width: 100%;
    padding: 5%;
    left: 0;
    height: 300px;
  }
  .carousel-inner .carousel-caption p {
    width: 100%;
  }
  .carousel-caption button {
    padding: 5px 10px;
    border-radius: 2px;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
  }
  .nav-container {
    padding: 0;
  }
  .navbar-collapse ul {
    background-color: #f2f2f2;
  }
  .navbar-collapse ul li {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
  .navbar-nav {
    border-bottom: 2px solid black;
  }

  /* Main pages */
  .page1 {
    flex-direction: column;
    gap: 50px;
  }
  .page2 {
    flex-direction: column;
  }
  .page2 .p-card {
    width: 100%;
  }

  .page3-content {
    margin: auto;
    padding: 0 10px;
    margin-top: 50px;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
  /* End main pages */
  .footer-content-link {
    padding: 30px 5px;
  }
  .footer-content-bottom {
    flex-direction: column;
  }
  .footer-content-bottom .footer-right ul,
  .footer-content-bottom .footer-left ul {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 480px) {
  .footer-content-bottom .footer-left ul {
    flex-direction: column;
  }
  .footer-content-link ul {
    width: 100%;
  }
  .footer-left .nav-link span {
    font-size: 12px;
  }
  .footer-left .nav-link {
    padding: 0 !important;
  }
  .footer-left button {
    padding: 0;
  }
  .footer-left ul li:nth-child(2) {
    margin-left: -5px;
  }
}
